@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600&display=swap');

.links:hover {
    color: white;
    opacity: 0.5;
}

.logo {
    max-width: 10%;
    max-height: 15%
}
.logo-w {
    max-width: 10%;
}


* {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}

:root {
    --body-color: #E4E9F7;
    --side-bar-color: ##DC143C;
    --primary-color: #695CFE;
    --primary-color-light: #695CFE;
    --toggle-color: #DDD;
    --text-color: #707070;

    --trans-03: all 0.2s ease;
    --trans-03: all 0.3s ease;
    --trans-03: all 0.4s ease;
    --trans-03: all 0.5s ease;
}

/* =======Reusable CSS======= */

.sidebar .text {
    font-size: 16px;
    font-weight:500;

}

.sidebar .image {
    min-width: 60px;
    display: flex;
    align-items: center;

}

/* =======Sidebar======= */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 320px;
    padding: 10px 14px;
    backgound: var(--sidebar-color);
}

.sidebar .image-text img {
width: 40px;
border-radius: 6px;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;

}

body {
    height: 100vh;
    background: var(--body-color);

}

header .image-text .header-text {
display: flex;
flex-direction: column;

}

.header-text .name {
    font-weight: 600;

}

.header-text .school {
    margin-top: -2px;

}

.
 